/* .Input{
  display: inline;
  margin: 20px;
}
#delete{
  display:none;
}
#grandparent{
  border: 2px solid red;
  margin: 10px;
  padding: 30px;
}
#parent{
  border: 2px solid red;
  margin: 10px;
  padding: 30px;
}
#child{
  border: 2px solid red;
  margin: 10px;
  padding: 30px;
} */
#parent
{
  border: 2px solid red;
  height: 30px;
  background-color: grey;
  border-radius: 20px;

}
#child
{
  border-radius: 20px;
  background-color: green;
  width: ;
  height: 100%;
}
